# =========================
# User defined ignores
# =========================
/*
!.bash_profile
!.editorconfig
!.gitattributes
!.gitconfig
!.gitignore
!.gitignore_global
!.stCommitMsg
!.tern-config
!.tern-project
!.config/nvim/init.vim
!.vim/
!.vim/*
.DS_Store
