# =========================
# User defined ignores
# =========================
/*
!.bash_profile
!.editorconfig
!.gitattributes
!.gitconfig
!.gitignore
!.gitignore_global
!.stCommitMsg
!.tern-config
!.tern-project
!.config/
.config/*
!.config/nvim/
!.vim/
.DS_Store
