# =========================
# User defined ignores
# =========================
/*
!.zshrc
!vimplug.sh
!.editorconfig
!.gitattributes
!.gitconfig
!.gitignore
!.gitignore_global
!.stCommitMsg
!.tern-config
!.tern-project
!.config/
.config/*
!.config/nvim/
!.vim/
.DS_Store

.netrwhist
undo/
spell/
plugged/
view/
autoload/plug.vim
autoload/plug.vim.old
revert.sh
